<!DOCTYPE html>
<html>

{% include head.html %}

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MP7NTJS8"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<body>
  <div class="content">

    {% include header.html %}

    {% include mobile_menu.html %}
    
    <main class="main">

    {{ content }}

    </main>

  </div>

  {% include footer.html %}
  {% include js.html %}
</body>
</html>
